<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=ITQUATDB;Initial Catalog=UTTR;Persist Security Info=True;User ID=SCRIPU;Password=itq!@#$1234" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="employeeApiUrl" value="https://interglobe.darwinbox.in/masterapi/employee" />
		<add key="logPathNew" value="D:\Data\TFS\HRIAPI\RuningLog" />
		<add key="MailFrom" value="itqrelay.itqcorp.in" />
		<add key="MailServerIP" value="itqrelay.itqcorp.in" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="LogStatus" value="true" />
		<add key="LogType" value="db" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>